auth/package-lock.json
auth/.DS_Store
auth/node_modules

container/node_modules
container/package-lock.json
container/.DS_Store

dashboard/node_modules
dashboard/package-lock.json
dashboard/.DS_Store

marketing/node_modules
marketing/package-lock.json
marketing/.DS_Store
